* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    // border: 2px solid red;  
    width: 100vw;
    min-width: 1100px;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .modal-top {
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0, 0.8);
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        // display: none;

        .modal-ready {
            // border: 2px solid yellow;
            height: 100%;
            width: 100%;
            position: relative;
            background-color: rgba(0,0,0, 0.9);
            text-align: center;
            z-index: 1;
            border-radius: 6px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            .banner {
                // border: 2px solid red;
                height: 180px;
            }

            .starto {
                cursor: pointer;
                width: 350px;
                height: 60px;
                background-color: aliceblue;
                border-radius: 8px;
                font-size: 20px;
                font-family: 'press start 2p', cursive;
                outline: none;

                &:hover {
                    background-color: gold;
                }
            }
        }
    }

    .welcome {
        // border: 2px solid blue;    
        background-color: purple; 
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15%;
        width: 100%;
        overflow: hidden;
        position: relative;

        img {
            height: 100%;
            // background-image: none;
        }
    }
    
    .mid-container {
        // border: 2px solid yellow;   
        height: 70%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #141414;
        color: aliceblue;
        // overflow: hidden;
    
        .mid1, .mid3 {
            // border: 2px solid aqua;   
            height: 100%;  
            min-width: 20%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            justify-content: space-evenly;
            font-family: 'press start 2p', cursive;
            padding: 30px;
            text-align: center;
            cursor: default;

            .key {
                color: rgba(grey, 0.5);
            }
            // z-index: 0;

            .player {
                border-bottom: 4px solid #FC9F21;
                color: #FC9F21;
                height: 20px;
                width: 100%;
                text-align: center;
                margin-top: 30px;
                text-transform: uppercase;
                padding: 30px 0;
            }

            .cheer {
                // border: 2px solid red;
                height: 90px;
                width: 100px;
                text-align: center; 
                margin-top: 50px;
                letter-spacing: 3px;   
                display: none;
            }

            #print1 {
                // border: 2px solid blue;
                width: 100%;
                height: 20px;
                text-align: center;
                font-size: 20px;
                padding: 30px 0;
            }
        }
    
        .mid2 {
            // border: 0.5px solid red;
            left: 0;
            height: 100%;
            min-width: 700px;
            overflow: hidden;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            #second-div {
                // border: 2px solid blue;
                position: absolute;
                height: 70px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                top: 60;
        
                #timey {
                    // border: 2px solid black;
                    position: absolute; 
                    text-align: center;
                    font-family: 'Orbitron';
                    font-size: 110px;
                    display: none;
                    color: white;
                    font-weight: 900;
                    cursor: default;
                }

                #go {
                    display: none;
                }
            }

            .bkg-img {
                // border: 2px solid orange;
                position: absolute;
                background-size: cover;

                .map-1 {
                    height: 500px;
                    min-height: 500px;
                    width: 700px;
                    min-width: 700px;
                }
            }

            #punch1 {
                // border: 2px solid yellow;
                // height: 230px;
                height: 30%;
                // width: 32%;
                width: 100px;
                display: flex;
                justify-content: center;
                position: absolute;
                // top: 50%; //for main bg
                top: 60%;
                left: 300px;

                img {
                    // border: 2px solid red;
                    position: absolute;
                    height: 150px;
                    min-height: 150px;
                }
            }

            // #punch2 {
            //     // border: 2px solid red;
            //     height: 230px;
            //     width: 32%;
            //     display: flex;
            //     justify-content: center;
            //     position: absolute;
            //     top: 100px;
            //     left: 260px;
            //     display: none;

            //     img {
            //         position: absolute;
            //         height: 100%;
            //     }
            // }
        }
    }
    
    .mid-container img {
        background-size: cover;
    }

// ===================================================================
// =====================  FOOTER   =================================

    footer {
        // border: 2px solid orange;   
        background-color: purple;
        width: 100%;
        height: 15%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // align-items: ;
        overflow: hidden;

        .foot-side {
            border-left: 0.5px solid #141414;
            border-right: 0.5px solid #141414;
            min-width: 20%;
            height: 80%;

            img {
                height: 100%;
                padding-left: 20px;
            }
        }

        .maps {
            background-color: rgba(0,0,0, 0.8);
            height: 100%;
            width: 700px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            button:focus {outline:0;}
            
            button {
                height: 100%;
                width: 100%;
                font-family: 'press start 2p', cursive;
                font-size: 10px;
                color: aliceblue;
                background-color: purple;
                border: none;
                cursor: pointer;

                &:hover.main {
                    opacity: 0.7;
                    background-image: url('/images/bg2.jpg');
                    height: 400px;
                    width: 700px;
                    transform: scale(1);
                }

                &:hover.x {
                    opacity: 0.7;
                    background-image: url('/images/bg95.gif');
                    height: 400px;
                    width: 700px;
                    transform: scale(1);
                }

                &:hover.y {
                    opacity: 0.7;
                    background-image: url('/images/bg101.jpg');
                    height: 400px;
                    width: 700px;
                    transform: scale(1);
                }

                &:hover.z {
                    opacity: 0.7;
                    background-image: url('/images/bg97.gif');
                    height: 400px;
                    width: 700px;
                    transform: scale(1);
                }
            }
        }
    }
// ===================================================================
// =====================  REMATCH MODAL   =================================

    .bg-modal {
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0, 0.7);
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
        flex-direction: column;

        .modal-content {
            border: 0.5px solid yellowgreen;
            background-color: none;
            width: 500px;
            height: 200px;
            background-color: none;
            border-radius: 4px;
            text-align: center;
            padding: 10px;
            position: relative;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;

            .close {
                position: absolute;
                top: 0;
                right: 14px;
                font-size: 42px;
                transform: rotate(45deg);
                color: aliceblue;
                font-weight: 800;
                cursor: pointer;

                &:hover {
                    color: yellowgreen;
                }
            }

            .congrats {
                // border: 2px solid red;
                display: flex;
                justify-content: center;

                .bravo {
                    position: absolute;
                    top: -70;
                    height: 120px;
                    width: 120px;
                }
            }

            .mod-img {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 50px;
                // border: 2px solid red;
                background-color: aliceblue;
                color: #141414;
                border-radius: 6px;
                height: 100px;
                width: 380px;

                .win-head {
                    // border: 2px solid yellow;
                    font-family: 'press start 2p', cursive;
                    color: #141414;
                    font-size: 25px;
                    text-align: center;
               }
            }

            button {
                cursor: pointer;
                height: 35px;
                width: 230px;
                background-color: aliceblue;
                border-radius: 6px;
                font-family: 'press start 2p', cursive;
                margin-top: 10px;
                outline: none;

                &:hover {
                    text-align: center;
                    background-color: yellowgreen;
                    color: black;
                }
            }
        }
    }
}
